body{
	font-family: Lato, Helvetica, 'Helvetica Nue', Arial;
}

h1,h2,h3,h4,h5,h6{
	font-family: Montserrat, Helvetica, 'Helvetica Nue', Arial;
	font-weight: 700;
	text-transform: capitalize;
}
nav{
	font-weight: 600;
	font-family: Montserrat;
	text-transform: uppercase;
	letter-spacing: 1px;
}
nav ul{
	list-style: none;
	margin:0;
	padding:0;
	background: black;
    overflow: hidden;
}
nav li{
	float: left;

}
nav a{
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 16px;
}
nav a:hover{
	text-decoration: none;
	background: #333;
	color:white;
}

.active{
	background-color: #333;
}

section{
	background: url(/img/bg.jpeg) no-repeat center fixed;
	background-size: cover;
	height: 500px;
}
.jumbotron{
	margin-top: 50px;
	background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
}

footer{
	padding: 20px 0;
	background: #000;
	color: #fff;
	text-align: center;
	margin-top: 25px;
}

.icon{
	font-size: 450px;
}